version: "3.9"

services:

  orders-service:
      build:
        context: .
        dockerfile: OrdersService/Dockerfile
      depends_on:
        rabbitmq:
          condition: service_healthy
        orders-db:
          condition: service_healthy
      environment:
        - ConnectionStrings__OrdersDb=Host=orders-db;Port=5432;Database=orders;Username=postgres;Password=postgres
  api-gateway:
      build:
        context: .
        dockerfile: ApiGateway/Dockerfile
      depends_on:
        - orders-service
        - payments-service
      ports:
        - "5000:8080"

  orders-db:
      image: postgres:15
      container_name: orders-db
      environment:
        POSTGRES_DB: orders
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
      ports:
        - "5433:5432"
      volumes:
        - orders_pgdata:/var/lib/postgresql/data
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U postgres"]
        interval: 5s
        timeout: 5s
        retries: 5
  rabbitmq:
      image: rabbitmq:3-management
      container_name: rabbitmq
      user: "999:999"
      ports:
        - "5672:5672"
        - "15672:15672"
      environment:
        RABBITMQ_DEFAULT_USER: guest
        RABBITMQ_DEFAULT_PASS: guest
      volumes:
        - rabbitmq_data:/var/lib/rabbitmq
      healthcheck:
        test: ["CMD", "rabbitmq-diagnostics", "ping"]
        interval: 5s
        timeout: 5s
        retries: 5



  payments-service:
      build:
        context: .
        dockerfile: PaymentsService/Dockerfile
      depends_on:
       rabbitmq:
          condition: service_healthy
       payments-db:
          condition: service_healthy
      environment:
        - ConnectionStrings__PaymentsDb=Host=payments-db;Port=5432;Database=payments;Username=postgres;Password=postgres


  payments-db:
      image: postgres:15
      container_name: payments-db
      environment:
        POSTGRES_DB: payments
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
      ports:
        - "5434:5432"
      volumes:
        - payments_pgdata:/var/lib/postgresql/data
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U postgres"]
        interval: 5s
        timeout: 5s
        retries: 5


volumes:
  orders_pgdata:
  payments_pgdata:
  rabbitmq_data:
